[Unit]
Description=Dotstar Pi Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/pi/dotstar_strips/run_dotstar.py

[Install]
WantedBy=multi-user.target
